@import "tailwindcss";

:root {
	--background: #001d3d;
	--foreground: #fff8d6;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

body {
	min-height: 100vh;
	position: relative;
	isolation: isolate;
	color: var(--foreground);
	font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
	background: #001d3d;
}

::selection {
	background: #ffc300;
	color: #000814;
}
